* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #393E46;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 90px;
    padding: 30px 25px;
}


.nav--logo_text {
    margin: 0;
}

.nav--logo_text {
    /* margin-right: auto; */
    color: #00ADB5;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #EEEEEE;
    font-weight: 600;
}

.nav--icon {
    height: 30px;
    margin-right: 7px;
}

main {
    padding: 57px 27px;
    color: white;
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main--title {
    text-align: center;
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts>li {
    line-height: 19px;
    padding-block: 10px;
    list-style: none;
}

/* .main--facts>li::marker { */
    /* font-size: 1.4rem; */
    /* color: #00ADB5; */
/* } */

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
