* {
    box-sizing: border-box;
}

.gray {
    color: #918e9b
}

.header-container {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    color: #393E46;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 20px; */
}

.home-top-container {
    padding-top: 20px 0;
}

.home-top-text-container {
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #222831;
    color: #EEEEEE;
}

.home-bottom-text-container {
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #222831;
    color: #EEEEEE;
}


.movie-experience-text {
    padding-top: 10px;
    line-height: 20px;
    /* margin: 40px 0; */
}

.home-image-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.home-image {
    width: 80vw;
    /* max-width: 400px; */
    align-self: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

/* card */

.card {
    width: 175px;
    font-size: 12px;
    margin: 10px 20px;
    margin-bottom: 55px;
}

.cards-container {
    display: flex;
    /* flex-basis: 100px; */
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
}

.card--image {
    width: 100%;
    height: 80%;
    border-radius: 9px;
}

.card--starts {
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.popcorn {
    height: 14px;
}

.bold {
    font-weight: bold;
}

.rating, .review {
    padding-left: 5px;
}
.review, .rating{
    font-size: 1px;
}

.popcorn {
    width: 5px;
    height: auto;
}

.movie-title {
    font-size: 16px;
    line-height: 25px;
    margin: 5px 0;
}

.movie-price {
    font-size: 14px;
}
